<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">


	<meta name = 'description' content="Service about last Expanse news, Expanse price, Top Holders of Expanse and their Tweets">
	<meta name = 'keywords' content="Expanse, Expstats, Exp, Lab, LAB, EXP">
	<meta name = 'author' content="Dinc">
	<title>ExpStats</title>

	<link rel="icon" type="image/png" href="https://files.coinmarketcap.com/static/img/coins/16x16/expanse.png" sizes="16x16">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href='/css/ExpStats.css'>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

	
	

	

	<!-- <script type="text/javascript" src = 'public/js/client.js'></script>
 -->
</head>

<body>
	{{{body}}}
	
</body>

</html>