



<div class = 'container' >
	<div class="row">
		<h1>ExpStats</h1>
	</div>

	<div class="row" >
		<div class="col-md-9 col-md-offset-1" >
				<div id = 'chart'></div>
		</div>
	</div>

	<div class="row block-infos">
		<div class = "col-md-9 col-md-offset-1 ">
			<div class = 'block-info priceUSD'><span>Price in USD</span></div>
			<div class = 'block-info priceBTC'><span>Price in BTC </span></div>
			<div class = 'block-info marketcap'><span>MarcketCap </span></div>
			<div class = 'block-info volume'><span>Volume </span></div>
			<div class = 'block-info supply'><span>Total Supply </span></div>
	
		</div>	
	</div>
	
	<div class="row">
		<div class="col-md-6 ">
			<h3>Community</h3>
			<div class="dopInfo">
				<ul>
					<li>
						<p><i class="fa fa-github fa-lg" aria-hidden="true"></i><a href="https://github.com/expanse-org" target="_blank">Github</a></p>
					</li>
					<li>
						<p><i class="fa fa-pencil fa-lg" aria-hidden="true"></i><a href="http://blog.expanse.tech/" target="_blank">Blog</a></p>
					</li>
					<li>
						<p><i class="fa fa-microphone fa-lg" aria-hidden="true"></i><a href="https://discord.me/expanse" target="_blank">Discord</a></p>
					</li>
					<li>
						<p><i class="fa fa-slack fa-lg" aria-hidden="true"></i><a href="https://expanse.slack.com" target="_blank">Slack</a></p>
					</li>
					<li>
						<p><i class="fa fa-telegram fa-lg" aria-hidden="true"></i><a href="https://t.me/ExpanseTech" target="_blank">Telegram</a></p>
					</li>
					<li>
						<p><i class="fa fa-twitter fa-lg" aria-hidden="true"></i><a href="https://twitter.com/expanseofficial" target="_blank">Twitter</a></p> 
					</li>
					<li>
						<p><i class="fa fa-youtube fa-lg" aria-hidden="true"></i><a href="https://www.youtube.com/channel/UCVjBaD0n-Def_efNwVin_Vw/featured" target="_blank">Youtube</a></p>
					</li> 
					<li>
						<p><i class="fa fa-facebook fa-lg" aria-hidden="true"></i><a href="https://www.facebook.com/groups/expanseofficial" target="_blank">Facebook</a></p> 
					</li>
					<li>
						<p><i class="fa fa-reddit fa-lg" aria-hidden="true"></i>	<a href="https://www.reddit.com/r/ExpanseOfficial/" target="_blank">Reddit</a></p>
					</li>
					<li>
						<p><i class="fa fa-bitcoin fa-lg" aria-hidden="true"></i><a href="https://bitcointalk.org/index.php?topic=1173722.0" target="_blank">Bitcointalk</a></p>
					</li>
					<li>
						<p><i class="fa fa-info fa-lg" aria-hidden="true"></i><a href="http://www.gander.tech/" target="_blank">Explorer</a></p>
					</li>
					
				</ul>
			</div>
		</div>
		
		<div class="col-md-6  twitter">
			<h2>Tweets</h2>
			<a class="twitter-timeline" 
				data-width="100%" 
				data-height="550px"
				data-theme="dark"
				data-border-color="white"
				data-link-backgroud-color = '#252830' 
				data-dnt="true" 
				href="https://twitter.com/ExpanseOfficial" 
				data-chrome="noheader nofooter noborders transparent" 
				></a>
       
		</div>

	</div>

	<div class="container">
	<div class="row">
		<div class="col-md-9 col-md-offset-1">
			<h2 style="text-align: center; margin-bottom: 20px">Latest Reddit topics</h2>
			<table class ='table no-footer reddit'>

			</table>
		</div>
	</div>	
	</div>

	<div class = 'container'>
	<div class ='row'>
		<div class="col-md-9 col-md-offset-1">
			<h2 style="text-align: center">Expanse Top Holders</h2>
			<!-- Search of address-->
			<div class ='search-block'>
				<div>
					<input type="text" class="filter form-control search" name="search" placeholder="Input address">
				</div> 
				<div>
					<button class="search">
						<i class='fa fa-search'></i>
					</button>
				</div>
			
			</div>
			<table class ='table no-footer'>
				<thead>
					<tr>
						<th><span>Address</span></th>
						<th><span>Amount</span></th>
						<th><span>USD</span></th>
					</tr>
				</thead>
				<tbody class = "richlist">
					
				</tbody>

			</table>
		</div>
	</div>
	</div>

	<div class = 'container'>
		<div class="row">
			<hr></hr>
			<div class = 'col-md-9 col-sm-6 col-md-offset-1 footer'>
				<p style="text-align: center">Tips are welcome :)) <br>Expanse address: 0xa73eb0dacAe3815343FF35e7521FF9473F6088D3</br>
				</p>
			</div>
		</div>

	</div>
	


</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src = '/js/index.js'></script>
