<form action = '/login' method = 'GET' class="form-inline blockFrom">
	<h3>Login</h3>
	<input type="text" class="form-control" name="login" value="login">
	<h3>Password</h3>
	<input type="text" class="form-control" name="pass" value = 'password'>
	<button type="submit" class="form-control btn btn-primary">Sing In</button>
</form>